<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="https://tokimon2019.herokuapp.com/"><span class="glyphicon glyphicon-home"></span> Add more</a>
          </li>
          <li>
            <a href="https://tokimon2019.herokuapp.com/db"><span class="glyphicon glyphicon-list-alt"></span> All tokimons</a>
          </li>
    </ul>

  </div>
</nav>
