<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>ALl tokimons</h2>


<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">name of trainer</th>
        <th scope="col">height</th>
        <th scope="col">fly</th>
        <th scope="col">fight</th>
        <th scope="col">fire</th>
        <th scope="col">water</th>
        <th scope="col">electric</th>
        <th scope="col">frozen</th>
        <th scope="col">weight</th>
        <th scope="col">total</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(r) { %>
      <form action="/tokimonDetails/:id" method="get">
      <tr href="https://tokimon2019.herokuapp.com/tokimonDetails/<%= r.uid %>" style="cursor: pointer;">
        <th scope="row"><%= r.uid %></th>
        <td><%= r.name %></td>
        <td><%= r.name_of_trainer %></td>
        <td><%= r.height %></td>
        <td><%= r.fly %></td>
        <td><%= r.fight %></td>
        <td><%= r.fire %></td>
        <td><%= r.water %></td>
        <td><%= r.electric %></td>
        <td><%= r.frozen %></td>
        <td><%= r.weight %></td>
        <td><%= r.total %></td>
      </tr>
    
      </form>
      <% }); %>
    </tbody>
  </table>

  
</div>

<script>
  
  $(document).ready(function(){
    $('table tbody tr').click(function(){
        window.location = $(this).attr('href');
        return false;
    });
});

//window.history.pushState("", "", '/'); //to change url
</script>

</body>
</html>
