<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
        <form action="/edit" method="post">
        <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">name of trainer</th>
                    <th scope="col">height</th>
                    <th scope="col">fly</th>
                    <th scope="col">fight</th>
                    <th scope="col">fire</th>
                    <th scope="col">water</th>
                    <th scope="col">electric</th>
                    <th scope="col">frozen</th>
                    <th scope="col">weight</th>
                    <th scope="col">total</th>
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach(function(r) { %>
                  <tr id="detailsRow">
                    <th scope="row"><input type="text" value="<%= r.uid %>" name="uid" readonly></th>
                    <td><input type="text" value="<%= r.name %>" name="tokimon_name"></td>
                    <td><input type="text" value="<%= r.name_of_trainer %>" name="trainer_name"></td>
                    <td><input type="text" value="<%= r.height %>" name="height"></td>
                    <td><input type="text" value="<%= r.fly %>" name="fly"></td>
                    <td><input type="text" value="<%= r.fight %>" name="fight"></td>
                    <td><input type="text" value="<%= r.fire %>" name="fire"></td>
                    <td><input type="text" value="<%= r.water %>" name="water"></td>
                    <td><input type="text" value="<%= r.electric %>" name="electric"></td>
                    <td><input type="text" value="<%= r.frozen %>" name="frozen"></td>
                    <td><input type="text" value="<%= r.weight %>" name="weight"></td>
                    <td><%= r.total %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
              <button type="submit" class="btn btn-primary" style="float:left; margin-right:30px;">Edit</button>
            </form>

              <% results.forEach(function(r) { %>
              <form action="/delete" method="post" style="display:inline-block;">
                <input type="hidden" name="uid" value="<%= r.uid %>">
                <button type="submit" class="btn btn-danger">Delete</button>
             </form>
              <% }); %>


</div>

</body>
</html>
