<!DOCTYPE html>
<html>
<head>
  <title>Add a Tokimon</title>
  <% include ../partials/header.ejs %>
</head>
<% include ../partials/nav.ejs %>

<body>

<form action="/" method="post">
  <div class="container bg-success">
    <h3>Add a tokimon</h3>
    <p>
        A Tokimon is a rare creature found in the remote areas of Korea. For the most part, they
        resemble rabbits and the only form of communication they have with us is the ability to say
        their own name. Tokimons come in all shapes and sizes, have special abilities, and tend to fight
        with each other on occasion. Each Tokimon could have the ability to fly, fight, throw fire, spray
        water, electrify, and freeze other Tokimons; their ability is measured by an integer between 0
        and 100. Because they are such primitive creatures but have such extraordinary abilities, they
        need Tokimon trainers. The trainer’s is job to collect Tokimons and use them accordingly. We
        would like to write an application to track the known Tokimons in existence.
    </p>
  <div class="row ">
    <div class="row inpuLine">
      <div class="col-md-2">
        <input type="text" placeholder="Tokimon name" name="tokimon_name" required="true">
      </div>
      <div class="col-md-2">
        <input type="text" placeholder="Trainer name" name="trainer_name" required="true">
      </div>
      <div class="col-md-2">
        <input type="text" placeholder="Height" name="height" required="true">
      </div>
      <div class="col-md-2">
        <input type="text" placeholder="Fly" name="fly" required="true" min="0" max="100">
      </div>
      <div class="col-md-2">
        <input type="text" placeholder="Fight" name="fight" required="true" min="0" max="100">
      </div>
    </div>
    <div class="row inpuLine">
        <div class="col-md-2">
          <input type="text" placeholder="Fire" name="fire" required="true" min="0" max="100">
        </div>
        <div class="col-md-2">
          <input type="text" placeholder="Water" name="water" required="true" min="0" max="100">
        </div>
        <div class="col-md-2">
          <input type="text" placeholder="Electric" name="electric" required="true" min="0" max="100">
        </div>
        <div class="col-md-2">
          <input type="text" placeholder="Frozen" name="frozen" required="true" min="0" max="100">
        </div>
        <div class="col-md-2">
            <input type="text" placeholder="Weight" name="weight" required="true">
          </div>
      </div>
  </div>
  <div class="row">
      <input class="btn btn-success addBtn" type="submit" value="ADD">
  </div>
  <hr>

  </div>
</form>
</body>
</html>
